.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* this_is_header */

header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 120px;
    gap: 279px  ;
    /* background-color: blue; */
    backdrop-filter: blur(4px);
    background: rgba(64, 33, 1, 0.80);
    max-width: inherit;
    width: inherit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    
}

.navigation_active {
    color: #D5906E;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.navigation {
    color: #FFF;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_h {
    color: #FFF;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

span {
    color: #D5906E;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_right_side {
    display: flex;
    align-items: center;
}


.right_side_p {
    color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 16px;
}

/* this_is_section_one */

.section_1 {
    position: relative;
}

.cover_image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.cover_text {
    width: calc(750 / 1440 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    margin: 200px 345px;
    
}

.cover_h {
    color: #FFF;

font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;

}

.cover_p {
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 16px;

}

button {
    margin-top: 56px;
    border-radius: 10px;
    border: 2px solid #D5906E;
    padding: 12px 45px;
    justify-content: center;
align-items: center; 
background: none;
color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

/* this_is_section_two  */

.section2 {
    display: flex;
    position: absolute;
    margin: 800px 324px;
    gap: 24px;
    object-fit: cover;
    
}

.section2_pics {
    border-radius: 24px;
    border: none;
}

.section2_p {
    color: #B53B1B;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
margin-top: 16px;
line-height: 26px;
}

/* this_is_section_third */

.section3 {
    width: 1440px;
    position: absolute;
    margin-top: 1122px;
    background-color: #402101;
    justify-content: center;

}

.section3_h1 {
    display: flex;
    justify-content: center;
    color: #FFF;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
margin-top: 96px;
}

.section3_box1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.section3_box2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 96px;
}

/* this_is_section_fourth */


.section4 {
    width: 1440px;
    margin-top: 2184px;
    position: absolute;
    
}

.section4_h {
    display: flex;
    justify-content: center;
    color: #402101;
    margin-top: 160px;

font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
}

.section4_pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    

    
}

.prices {
    width: 88px;
    padding: 15px 17px;
    position: relative;
    border-radius: 20px;
    left: 16px;
    top: -64px;
    font-size: 16px;
    font-family: Inter sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    background-color: #FFFFFF;
    color: #B53B1B;
    text-align: center;
}


/* this_is_section_fifth */

.section5 {
    margin-top: 2854px;
    position: absolute;
    background-image: url(./assets/section_5_cover.jpg);
    width: 1440px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center
}

.section_5 {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.section_5_h {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.section5_input {
    width: 331px;
    padding: 19px;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
}

.section5_input::placeholder {
    color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}

.form_subscribe {
    width: 151px;
height: 56px;
left: 331px;
border-radius: 0 10px 10px 0;
background: #FFF;
color: #402101;
border: none;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 122.222% */
animation-name: BUTTON;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;

}

/* this_is_section_sixth */

.section6 {
    margin-top: 3492px;
    width: 1440px;
    position: absolute;
}

.section6_main_h {
    display: flex;
    justify-content: center;
    color: #402101;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 84px;
}

.about_artistry {
    display: flex;
    justify-content: center;
    gap: 24px   ;
}

.section6_box {
    display: flex;
width: 384px;
padding: 8px 8px 24px 8px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 8px;
background: rgba(213, 144, 110, 0.30);
}

.box6_main_h {
    display: flex;
    color: #B53B1B;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}

.box6_main_p {
    color: #402101;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.section6_h2 {
    align-items: center;
    color: #402101;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}

.answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 112px;
margin-top: 48px;




}


.section6_button {
    align-items: center;
    margin-top: 24px;
padding: 12px 52px;
align-items: center;
border-radius: 10px;
background: #B53B1B;
color: #FFF;
font-size: 24px;
font-family: Inter;
font-weight: 400;
font-style: normal;
line-height: 32px; /* 133.333% */

}

/* this_is_footer */

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin-top: 4032px;
    position: absolute;
    background: #402101;
    padding: 32px 120px;
    
    
}

.footer_div {
    display: flex;
    justify-content: center;
    gap: 311px  ;
    
}



.hele {
    color: #FFF;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}

.help {
    color: #FFF;

font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
margin-top: 16px;
margin-bottom: 8px;
}

.privacy {
    color: #FFF;

font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
margin-bottom: 32px;
}

.footer_left_side_logos {
    display: flex;
    gap: 24px  ;
}

.footer_h1 {
    color: #FFF;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 122.222% */
}


.footer_right_side{
    display: flex;
    flex-direction: column;
    gap: 16px   ;
}

.footer_tel_contact{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_mail_contact{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_location_contact{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_same_p {
    color: #FFF;

font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
}









/* this_is_section_one_arworks */

.section_1_artworks {
    position: absolute;
    width: 1440px;
    
}

.section_1_artworks {
    width: 1440px;
    height: 560px;
    position: absolute;
    background-image: url(./assets/artworks_cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.section1_h_arworks {
    color: #FFF;

font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
}

.section1_artworks_cover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 206px;
    gap: 47px;
}

.text_input {
    color: rgba(213, 144, 110, 0.52);

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.form_search {
height: 56px;
padding: 15px 53px 15px 54px;
justify-content: center;
align-items: center;
border-radius: 0px 10px 10px 0px;
background: #D5906E;
}

.section_1_arworks_form {
    /* display: flex; */
height: 56px;
padding-left: 0px;
justify-content: flex-end;
align-items: center;
gap: 239px;
}


/* this_is_section_two_artworks */

.section_2_artworks {
    position: absolute;
    justify-content: center;
    width: 1201px;
    margin-top: 720px;
    margin-left: 119px;
}

.section_2_artworks_right {
    width: 1201px;
    display: inline-flex;
justify-content: center;
align-items: flex-end;
gap: 642px;
}

.section_2_artworks_h1 {
    color: #623932;

font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}

.section_2_artworks_button {
    display: flex;
width: 160px;
height: 45px;
padding: 8px 21px;
justify-content: center;
align-items: center;
gap: 24px;
}

.section_2_artworks_p{
    color: #402101;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 120.833% */
}

.product_name {
width: 1200px;
display: flex;
gap: 24px;


    
}

.product_name_main {
    display: flex;
}
